@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Public+Sans:wght@100..900&display=swap);

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white h-[100vh];
  font-family: "Inter", system-ui, -apple-system, sans-serif;
}

.heading {
  font-family: "Public Sans", "Inter", system-ui, -apple-system, sans-serif;
}

#root {
  @apply h-full;
}

.text-goo {
  background: linear-gradient(94.26deg, #007cf0 0%, #00dfd8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.background-goo {
  background-image: linear-gradient(94.26deg, #007cf0 0%, #00dfd8 100%);
}

.button-sexy-div-p {
  padding: calc(0.875rem - 4px) calc(3rem - 4px);
}

.emoji {
  @apply min-w-[48px] min-h-[48px] max-w-[48px] max-h-[48px]
  text-[26px] text-center flex items-center justify-center
  rounded-full;
}

.button-inline-right {
  @apply flex items-center justify-center gap-1
  bg-white text-black font-medium shadow-xl
  min-w-max px-4 py-2
  rounded-b-[0.3rem] lg:rounded-bl-none lg:rounded-tr-[0.3rem];
}

.inline-left {
  @apply w-full py-2 pl-3 pr-2
  rounded-t-[0.3rem] lg:rounded-tr-none lg:rounded-bl-[0.3rem];
}

progress {
  --track: rgba(255, 255, 255, 0.3);
  border-radius: 999px;
}

progress::-webkit-progress-bar {
  background-color: var(--track);
  border-radius: 999px;
}

progress::-webkit-progress-value {
  @apply background-goo;
  border-radius: 999px;
}

progress::-moz-progress-bar {
  @apply background-goo;
  border-radius: 999px;
}

.background-goo-vignette {
  background: radial-gradient(
      circle at 50%,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.75)
    ),
    linear-gradient(94.26deg, #007cf0 0%, #00dfd8 100%);
}

.dialog-panel {
  @apply inline-block
  w-full max-w-md p-6
  overflow-hidden
  transition-all transform
  shadow-xl rounded-lg;

  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(40px);
}

/* Hide the input spinners */
::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
